@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic,cyrillic-ext,latin-ext');

body {
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 100%;
  color: #f2f2f2;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #2196F3;
  text-align: center;
  box-shadow: 0 4px 10px #222;
}

/**************** Ribbon style *****************/

.ribbon-container {
  position: absolute;
  top: 30px;
  left: -60px;
  z-index: 1;
  transform: rotate(315deg);
}

.ribbon {
  width: 250px;
  height: 50px;
}

.main-icon {
  width: 200px;
  height: 180px;
  margin-top: 60px;
  -webkit-filter: drop-shadow(0px 1px 1px #222);
  filter: drop-shadow(0 1px 1px #222);
}

.no-margin {
  margin: 0;
}

/**************** Media Queries *****************/

@media only screen and (min-width: 480px) {
  * {
    background-color: red;
  }
}
